/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
/* Проверка поддержки text-stroke */
.example {
  -webkit-text-stroke: 1px solid transparent;
  text-shadow: none;
}

@supports (-webkit-text-stroke: 1px solid transparent) or
  (text-stroke: 1px solid transparent) {
  .example {
    text-stroke: 1px solid transparent;
    text-shadow: none;
  }
}

/* Проверка поддержки -webkit-text-stroke */
@supports (-webkit-text-stroke: 1px solid transparent) {
  .example {
    -webkit-text-stroke: 1px solid transparent;
    text-shadow: none;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-Variable.woff2') format('woff2 supports variations'),
  url('Inter-Variable.woff2') format('woff2-variations');
  font-weight: 400 785;
  font-style: normal;
}

@font-face {
  font-family: 'PressStart2P';
  src: url('PressStart2P-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}