/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/


@keyframes moveArrow {
  0% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
    
  }
  100% {
    transform: translateX(-4px);
    
  }
}

/* Определите анимацию для увеличения размера sparks */
@keyframes scaleUpSparks {
  from {
    transform: scale(1); /* Исходный размер */
  }
  to {
    transform: scale(1.02); /* Увеличенный размер */
  }
}

/* Определите анимацию для исчезновения sparks */
@keyframes fadeOutSparks {
  from {
    opacity: 1; /* Полностью видимый в начале */
  }
  to {
    opacity: 0; /* Полностью прозрачный в конце */
  }
}