/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
@keyframes moveArrow {
  to {
    left: -14px;
  }
}

/* Определяем анимацию для увеличения размера sparks */
@keyframes scaleUpSparks {
  to {
    scale: 1.5;
  }
}

/* Определяем анимацию для исчезновения sparks */
@keyframes fadeOutSparks {
  to {
    fill: #ff0000;
  }
}
/* Сердце */
.cont,
.main-body,
.sparks {
  fill: none;
}

.core {
  transition: fill 0.3s ease 0.05s;
}

.conture {
  fill: var(--black-color);
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s ease;
}

.like-icon {
  flex-shrink: 0;
}

.heart-icon {
  display: none;
}

/* Объединяем общие стили для .heart с разными классами */
.heart .core,
.heart .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
  transform-origin: center;
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .conture {
  fill: transparent;
  transition: fill 0.3s ease 0.06s;
  transform-origin: center;
}

.heart:active .main-body,
.heart:active .core {
  fill: transparent;
  transition: fill 0.3s ease 0.06s;
  transform-origin: center;
}

.heart:hover .main-body {
  fill: var(--black-color);
  cursor: pointer;
  transition: fill 0.3s ease 0.05s;
}

.heart:hover .core {
  cursor: pointer;
  fill: var(--black-color);
  transition: fill 0.3s ease;
}

.heart:active .conture {
  fill: var(--red);
  transition-delay: 0.1s;
}

.heart:active .main-body {
  fill: var(--red);
  transition: fill 0.3s ease 0.05s;
}

.heart:active .core {
  fill: var(--red);
  transition-delay: 0.03s;
}

/* Определяем задержки для разных элементов */
.heart .core {
  transition-delay: 0.03s;
}

.heart .main-body {
  transition-delay: 0.07s;
}

.like-icon.is-liked .conture {
  transition-delay: 0.06s;
  fill: var(--red);
}

.like-icon.is-liked .core {
  transition-delay: 0.03s;
  fill: var(--red);
}

.like-icon.is-liked .main-body {
  fill: var(--red);
}

/* Применяем анимацию увеличения исчезновения к элементу с классом sparks при нажатии на like-icon */
.like-icon.is-liked .sparks {
  animation: fadeOutSparks  0.3s ease-in 0.3s alternate;
  transform-origin: center;
}

.like-icon.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scaleUpSparks 0.3s ease-in alternate;
}


