/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

@supports (-webkit-text-stroke: 1px solid transparent) or
  (text-stroke: 1px solid transparent) {
  .example {
    text-stroke: 1px solid transparent;
    text-shadow: none;
  }
}

/* Проверка поддержки -webkit-text-stroke */
@supports (-webkit-text-stroke: 1px solid transparent) {
  .example {
    -webkit-text-stroke: 1px solid transparent;
    text-shadow: none;
  }
}

.page {
  background-color: var(--white-color);
  background-image: repeating-linear-gradient(
      to top,
      var(--background-color) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to right,
      var(--background-color) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      var(--background) 0%,
      var(--background) 0.1%,
      var(--background-black) 100%
    );
  background-attachment: fixed;
  background-size: cover;
}
/* меню */
.theme-menu {
  width: 696px;
  padding-bottom: 25px;
  border: 2px solid var(--black-color);
  background: var(--white-color);
  margin: 0 auto;
  margin-top: 102px;
  text-align: center;
  color: var(--black-color);
}

.theme-menu_title {
  text-decoration: none;
}

.theme-menu_html {
  font-size: 65px;
  margin-top: 136px;
  font-family: "PressStart2P", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu_text {
  margin-top: 10px;
  font-family: "PressStart2P", Arial, sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu__list {
  margin: 0 auto;
  margin-top: 25px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu__item {
  margin: 0 auto;
}

.theme-menu__button {
  width: 62px;
  text-align: left;
  background-color: transparent;
  border: none;
  color: var(--black-color);
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
}

.theme-menu__button::before {
  content: "►";
  position: absolute;
  top: 0;
  left: -15px;
  margin-left: 5px;
  animation: moveArrow 0.5s infinite alternate;
  display: none;
}

.theme-menu__button:disabled::before {
  display: block;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
}

/* Контейнер */
.conteiner {
  max-width: 696px;
  width: 100%;
  margin: 0 auto;
  margin-top: 102px;
  background-color: var(--white-color);
}

/* Карточки */
.card {
  margin-top: 57px;
  width: 100%;
  background-color: var(--white-color);
  border: 2px solid var(--black-color);
  background: var(--white-color);
}

.card_text {
  color: var(--black-color);
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card_text_inner {
  color: var(--black-color);
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 116.667% */
  margin: 0 auto;
  margin-top: 27px;
  max-width: 646px;
  width: 100%;
}

.card_title {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  margin-top: 25px;
  gap: 12px;
}

.card__like-button {
  display: flex;
  width: 130px;
  height: 38px;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border: 2px solid var(--black-color);
  background: var(--white-color);
  background-clip: text;
  transition: background-color 0.5s ease;
  position: relative;
  overflow: hidden; /* Для эффекта "заливки" цветом */
  margin-bottom: 25px;
}

.card__like-button::before {
  content: ""; /* Необходимо для псевдоэлемента */
  position: absolute;
  top: 0;
  left: -100%; /* Начинаем с левой стороны */
  width: 100%;
  height: 100%;
  background: var(--black-color);
  z-index: 0;
  transition: left 0.5s ease-in-out;
}

.card__like-button:hover::before {
  left: 0; /* Псевдоэлемент "заполняет" кнопку */
}

.card__like-button .button__text {
  position: relative; /* Для корректного отображения текста поверх псевдоэлемента */
  z-index: 1;
}

.card__like-button:focus-visible {
  outline: none;
  border-color: var(--black-color);
  box-shadow: 2px 2px 0px 0px var(--black-color);
}

.card__like-button:hover {
  cursor: pointer;
}

.button__text {
  mix-blend-mode: difference;
  font-family: "PressStart2P", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 12.6px */
}

.card__icon-button {
  padding: 0;
  background-color: transparent;
  height: 38px;
  width: 40px;
  border: 2px solid transparent;
  outline: none; /* объединяем стили для разного состояния кнопки */
  margin-right: 7px;
  transition: border-color 0.3s ease-in-out;
}

.card__icon-button:focus-visible {
  border-color: var(--black-color);
}

/* Картинки */
.image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.image2 {
  filter: grayscale(100%);
}

.image3 {
  filter: sepia(100%);
}

.image4 {
  filter: brightness(0.5);
}

.image6 {
  filter: hue-rotate(90deg);
}

.image5 {
  filter: saturate(200%);
}

.image7 {
  filter: blur(10px);
}

.image8 {
  filter: grayscale(50%) blur(2px) brightness(80%) contrast(120%);
}

.wrapper {
  width: 100%;
  position: relative;
  border-top: solid 2px var(--black-color);
  border-bottom: solid 2px var(--black-color);
}

/* Сердце */
.cont,
.main-body,
.sparks {
  fill: none;
}

.conture {
  fill: var(--black-color);
}

.like-icon {
  flex-shrink: 0;
}

.heart-icon {
  display: none;
}

/* Объединяем общие стили для .heart с разными классами */
.heart .core,
.heart .main-body,
.heart:active .core,
.heart:active .main-body,
.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .conture {
  fill: transparent;
  transition: fill 0.3s linear;
}

.heart:hover .core,
.heart:hover .main-body {
  fill: var(--black-color);
  cursor: pointer;
}

.heart:active .conture,
.heart:active .main-body {
  fill: var(--red);
  transition-delay: 0.1s;
}

.heart:active .core {
  fill: var(--red);
  transition-delay: 0.03s;
}

/* Определяем задержки для разных элементов */
.heart .core {
  transition-delay: 0.03s;
}

.heart .main-body {
  transition-delay: 0.07s;
}

.like-icon.is-liked .core,
.like-icon.is-liked .conture {
  transition-delay: 0.03s;
  fill: var(--red);
  animation: scaleUpSparks 0.3s;
}

.like-icon.is-liked .main-body {
  transition-delay: 0.07s;
  fill: var(--red);
  animation: scaleUpSparks 0.3s;
}

/* Устанавливаем задержку только для контура */
.like-icon.is-liked .conture {
  transition-delay: 0.03s;
  animation: scaleUpSparks 0.3s ease-in-out alternate;
}

/* Применяем анимацию увеличения исчезновения к элементу с классом sparks при нажатии на like-icon */
.like-icon.is-liked .sparks {
  fill: var(--red); /* Установливаем цвет sparks для состояния "liked" */
  animation: fadeOutSparks 0.05s ease-in-out alternate 0.3s forwards;
}

/* Кнопка с дискетом */
.disk {
  margin: 0 auto;
  width: 306px;
  height: 80px;
  margin-top: 54px;
}

.disk_button {
  height: 80px;
  width: 100%;
  border: 2px solid var(--black-color);
  background: var(--white-color);
  margin: 0 auto;
  margin-bottom: 102px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.disk_button:focus-visible {
  outline: none;
  border-color: var(--black-color);
  box-shadow: 2px 2px 0px 0px var(--black-color);
}

.disk_button:hover {
  cursor: pointer;
}

/* Модалка */
.dialog {
  background-color: var(--white-color);
  border: 2px solid var(--black-color);
}

.dialog_title {
  display: flex;
}

.dialog_text {
  max-width: 198px;
  width: 100%;
  flex-shrink: 0;
  margin-left: 20px;

  color: var(--black-color);
  font-family: "PressStart2P", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
}

.dialog_button {
  margin-top: 30px;
  width: 257px;
  height: 38px;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: var(--black-color);
  border: 2px solid var(--black-color);
  background: var(--white-color);
}

.dialog_button:focus-visible {
  outline: none;
  border-color: var(--black-color);
  box-shadow: 2px 2px 0px 0px var(--black-color);
}

.dialog_button:hover {
  cursor: pointer;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}

.label {
  font-family: "PressStart2P", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 25px;
  right: 25px;
  color: #000; /* цвет текста */
  text-shadow: 0px 0px 2px #fff; /* обводка */
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

rect {
  fill: var(--black-color);
}

@media screen and (max-width: 1430px) {
  .theme-menu {
    width: 371px;
  }

  .theme-menu_html {
    font-size: 49px;
    margin-top: 120px;
  }

  .conteiner {
    max-width: 371px;
  }

  .card {
    margin-top: 50px;
  }

  .card_text_inner {
    width: 317.049px;
  }
}
