/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  background-color: var(--white-color);
  background-image: repeating-linear-gradient(
      to top,
      var(--background-color) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to right,
      var(--background-color) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      var(--background) 0%,
      var(--background) 0.1%,
      var(--background-black) 100%
    );
  background-attachment: fixed;
  background-size: cover;
  font-variation-settings: "wght"  400;
}
/* меню */
.theme-menu {
  width: 696px;
  padding-bottom: 20px;
  border: 2px solid var(--black-color);
  background: var(--white-color);
  margin: 0 auto;
  margin-top: 102px;
  text-align: center;
  color: var(--black-color);
}

.theme-menu_title {
  text-decoration: none;
}

.theme-menu_logo {
  font-size: 65px;
  margin-top: 136px;
  font-family: "PressStart2P", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-variation-settings: "wght"  400;
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu_text {
  margin-top: 18px;
  font-family: "PressStart2P", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  font-variation-settings: "wght"  400;
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu__list {
  margin: 0 auto;
  margin-top: 23px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  font-variation-settings: "wght"  400;
  line-height: normal;
  text-transform: uppercase;
  width: 72px;
}

.theme-menu__item {
  margin: 0 auto;
  text-align: left;
}

.theme-menu__button {
  text-align: left;
  background-color: transparent;
  border: none;
  color: var(--black-color);
  font-family: "PressStart2P", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-variation-settings: "wght"  400;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.theme-menu__button::before {
  content: "►";
  font-size: 20px;
  position: absolute;
  top: -6px;
  left: -18px;
  margin-left: 5px;
  animation-name: moveArrow;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  display: none;
}

.theme-menu__button:disabled::before {
  display: block;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  border: none;
  opacity: 0.75;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ccc;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  transform: scaleX(0);
  opacity: 0;
  visibility: hidden;
}

.theme-menu__button:hover::after,
.theme-menu__button:focus::after {
  transform: scaleX(2);
  opacity: 1;
  visibility: visible;
}

/* Контейнер */
.conteiner {
  max-width: 696px;
  width: 100%;
  margin: 0 auto;
  margin-top: 102px;
  background-color: var(--white-color);
}

/* Карточки */
.card {
  margin-top: 50px;
  width: 100%;
  background-color: var(--white-color);
  border: 2px solid var(--black-color);
  background: var(--white-color);
}

.card_text {
  color: var(--black-color);
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  font-variation-settings: "wght" 700;
  line-height: normal;
  margin-left: 10px;
}

.card_text_inner {
  color: var(--black-color);
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  font-variation-settings: "wght"  400;
  line-height: 21px; /* 116.667% */
  margin: 0 auto;
  margin-top: 27px;
  max-width: 646px;
  width: 100%;
}

.card_title {
  display: flex;
  justify-content: flex-end;
  margin-right: 23px;
  margin-top: 25px;
  gap: 6px;
}

.button {
  display: flex;
  width: 130px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border: 2px solid var(--black-color);
  background-clip: text;
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden; /* Для эффекта "заливки" цветом */
  margin-bottom: 25px;
  background-color: var(--difference-while);
  z-index: 0;
}

.button:focus {
  outline: none;
}

.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  translate: -100%;
  transition: 0.5s ease-in-out;
  background-color: var(--black);
  z-index: 1;
}

.button:hover::before {
  translate: 0%;
}

.button .button__text {
  position: relative; /* Для корректного отображения текста поверх псевдоэлемента */
  z-index: 1;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--difference-while);
}

.button:hover {
  cursor: pointer;
}

.button__text {
  color: var(--difference-text);
  font-family: "PressStart2P", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-variation-settings: "wght"  400;
  z-index: 2;
  position: relative;
  padding-block: 11px;
  line-height: 0.9;
  mix-blend-mode: difference;
}

.card__icon-button {
  padding: 0;
  background-color: transparent;
  height: 38px;
  width: 40px;
  border: 2px solid transparent;
  outline: none; /* объединяем стили для разного состояния кнопки */
  margin-right: 7px;
  transition: border-color 0.3s ease-in-out;
}

.card__icon-button:focus-visible {
  border-color: var(--black-color);
}

.card__icon-button:focus {
  outline: none;
}

/* Картинки */
.image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.grayscale {
  filter: grayscale(100%);
}

.sepia {
  filter: sepia(100%);
}

.brightness {
  filter: brightness(0.5);
}

.hue-rotate {
  filter: hue-rotate(90deg);
}

.saturate {
  filter: saturate(200%);
}

.blur {
  filter: blur(10px);
}

.contrast {
  filter: grayscale(50%) blur(2px) brightness(80%) contrast(120%);
}

.wrapper {
  width: 100%;
  margin-top: 6px;
  position: relative;
  border-top: solid 2px var(--black-color);
  border-bottom: solid 2px var(--black-color);
}

/* Кнопка с дискетом */
.disk {
  margin: 0 auto;
  width: 306px;
  margin-top: 54px;
}

.disk_button {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 102px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--difference-while);
}

/* Модалка */
.dialog {
  background-color: var(--white-color);
  border: 2px solid var(--black-color);
}

.dialog_title {
  display: flex;
}

.dialog_text {
  max-width: 198px;
  width: 100%;
  flex-shrink: 0;
  margin-left: 20px;

  color: var(--black-color);
  font-family: "PressStart2P", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-variation-settings: "wght"  400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
}

.dialog_button {
  margin: auto;
  margin-top: 30px;
  width: 257px;
  height: 38px;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  text-transform: uppercase;
  color: var(--difference-text);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
}

.label {
  font-family: "PressStart2P", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-variation-settings: "wght"  400;
  line-height: normal;
  position: absolute;
  top: 25px;
  right: 25px;
  color: #000; /* цвет текста */
  text-shadow: 0px 0px 2px var(--black-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

.disk_svg {
  position: relative;
  z-index: 2;
  fill: var(--disk);
}

.text {
  padding: 0;
}

.rect {
  position: relative;
  z-index: 2;
  fill: currentColor;
  mix-blend-mode: difference;
}

.floppy-icon {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
  color: var(--text-button-color, #ffffff);
}

@media screen and (max-width: 1430px) {
  .theme-menu {
    width: 371px;
  }

  .theme-menu_logo {
    font-size: 49px;
    margin-top: 120px;
  }

  .theme-menu_text {
    font-size: 12px;
  }

  .conteiner {
    max-width: 371px;
    margin-top: 98px;
  }

  .card {
    margin-top: 50px;
  }

  .card_text_inner {
    width: 317.049px;
  }

  .wrapper {
    margin-top: 9px;
  }

  .dialog {
    width: 341px;
    height: 195px;
    padding: 0;
  }

  .dialog_title {
    display: flex;
    margin-top: 32px;
    justify-content: center;
  }
}
