/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
  --black-color: #00cc14;
  --background-color: #000;
  --background: #007f0c;
  --background-black: #004306;
  --white-color: #000;
  --black: #000;
  --difference-while: #00cc14;
  --difference-text: #00cc14;
  --disk: #00cc14;
  --border: #fff;
  --text-button-color: #000;
  --font-main-weight: 465;
  --font-card-weight: 785;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black-color: #00cc14;
    --background-color: #000;
    --background: #007f0c;
    --background-black: #004306;
    --white-color: #000;
    --black: #000;
    --difference-while: #00cc14;
    --difference-text: #00cc14;
    --disk: #00cc14;
    --border: #fff;
    --text-button-color: #000;
    --font-main-weight: 465;
    --font-card-weight: 785;
  }
}

:root.theme-light {
  --heard-conture: black;
  --red: #ff0000;
  --black-color: #000;
  --background-color: #d3d3d3;
  --background: #e7e7e7;
  --background-black: #1a1a1a;
  --black: #000;
  --white-color: #ffff;
  --difference-while: #fff;
  --difference-black: #000;
  --difference-text: #fff;
  --disk: #000;
  --text-button-color: #ffffff;
  --border: #fff;
  --font-main-weight: 400;
  --font-card-weight: 700;
}
