:root {
  --heard-conture: black;
  --red: #ff0000;
  --black-color: #000;
  --background-color: #d3d3d3;
  --background: #e7e7e7;
  --background-black: #1a1a1a;
  --black: #000;
  --white-color: #ffff;
  --difference-while: #fff;
  --difference-black:  #000;
  --disk: #000;
}

